<% if @brands.any?() %>
<h2> Here are all your brands:</h2>
<ul>
  <% @brands.each do |brand| %>
  <li><a href='/brands/<%= brand.id() %>'><%= brand.name() %></a>
  <% end %>
</ul>
<% else %>
<h2> You don't have any brands yet. Add some! </h2>
<% end %>

<form action="/brands/new" method="post">
  <h2>Add a Brand:</h2>
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" name="name">
  </div>
  <div class="form-group">
    <label for="store_ids[]">Which stores carry this brand?</label><br>
    <% @stores.each() do |store| %>
    <input type="checkbox" name = "store_ids[]" value="<%= store.id()%>"> <%= store.name() %>, <%= store.city() %>, <%= store.state() %><br>
    <% end %>
  </div>
  <button type='submit' class="btn btn-success btn-lg">Add Brand</button>
</form>
